---
Language: Cpp
BasedOnStyle: WebKit

IndentWidth: 2
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: Consecutive
IndentCaseLabels: false
ColumnLimit: 0

ReflowComments: false
PenaltyBreakComment: 100000

