---
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
# COMMENTS :
ReflowComments:  true
PenaltyBreakComment: 200  # modified; was 300
PenaltyBreakOpenParenthesis: 1  # modified; was 0
